@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --muted: #71717a;
  --accent: #c17f59;
}

body {
  color: var(--foreground);
  background: var(--background);
}
